*,
*::after,
*::before{
    box-sizing: border-box;
}
  
h1,h2,h3,h4,h5,h6,p {
 margin: 0;
 }
 
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
text-decoration: 0;
}

button {
    border: none;
}
body{
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2    ;
}
.news-category{
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
}
button{
    width: 165px;
    height: 60px;
    flex-shrink: 0;
    margin: auto;
    display: block;
}

.conteiner{
  margin-left: auto;
  margin-right: auto;
  width: 910px;
  padding-left: 15px;
  padding-right: 15px;
  
  .header {
    padding-top: 70px;
    padding-bottom: 90px;
  }
}
.menu-list {
    display: flex;
    justify-content: center;

    
}
.menu-item {
    color: #03A9F4;
    color: #7D7D7D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.35;

}
.main {
    display: flex;
    flex-wrap: wrap;
    
}